img
{
    border-radius: 50%;
    width: 50px;
}
p
{  
    text-align: center;
    padding-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
    
.user2 
{
    width: 365px;
    border-radius: 10px;
    display: flex;
}
.user2:hover
{
    background: lightgrey;
    color:black;
}
.msg{
  width:40%;
  border:1px solid;
  margin: 10px;
  border-radius: 8px;
  background-color:lightgreen ;
}